* {
    margin: 0;
}

body {
    background-color: rgb(83, 48, 8);
    font-family: Cambria;
    font-size: 18px;
    color: red;
}

.cabecalho li {
    padding: 20px;
    color: black;
}

.cabecalho {
    background-color: rgb(11, 100, 141);
    display: inline-flex;
}

.cabecalho h1 {
    color: black;
    text-align: center;
}

.cabecalho nav img{
    padding-left: 895px;   
}

.cabecalho img {
    display: inline-flex;
}

main {
    padding: 30px;
}

.botao {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    display: inline-block;
}

.cabecalho a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.materia {
    background-color: goldenrod;
    padding: 30px;
    margin-bottom: 30px;
    width: 700px;
    margin-right: auto;
    margin-left: auto
    
}

.menu {
    display: flex;
    list-style: none;
    margin-left: 720px;

}

menu li {
    margin-right: 20px;
}

.materia h1 {
    color: black;
    margin-bottom: 10px;
}

.rodape {
    background-color: cadetblue;
    padding: 30px;
    color: brown;
    text-align: center;
    font-size: 60px;
}

.menu a:hover {
    color: blue;
}

.materia a:hover {
    color: brown;
}

.materia img {
    width: 100%;
}

.manchete {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}