body {
    background-color: tan;
    font-family: Cambria;
    font-size: 18px;
    color: darkslategrey;
}

header {
    background-color: cadetblue;
}

article a {
    color: black;
    text-decoration: none;
}

header a {
    color: brown;
    text-decoration: none;
}

footer {
    background-color: cadetblue;
}

footer p {
    color: brown;
}